.container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .searchBar {
    border: 2px solid black;
    height: 100vh;
    width: 25%;
    position: sticky;
  }

  .content {
    border: 2px solid black;
    width: 65%;
    height: 100vh;
  }
}
